# Introducción a Python - Estructuras de datos

En este apartado vamos a revisar las estructuras de datos (colecciones) básicas de Python, sus propiedades y las operaciones básicas que se pueden realizar con y sobre ellos. En concreto, en Python tenemos tres estructuras básicas de datos.

<ul>
<li>Secuencias</li>
<li>Diccionarios</li>
<li>Conjuntos</li>
</ul>

## Secuencias

Una secuencia es un listado unidimensional y ordenado de valores que pueden ser de cualquier tipo, incluso otras estructuras de datos anidadas. Existen tres tipos bien diferenciados

<ul>
    <li><b>Tuplas</b>: listados inmutables.</li>
    <li><b>Listas</b>: listados ordenados mutables.</li>
    <li><b>Cadenas de caracteres</b>: inmutables y cuyos elementos son siempre caracteres.</li>
</ul>

Casi todas las operaciones disponibles se pueden aplicar sobre cualquier tipo de secuencia (excepto las que implican modificación que, lógicamente, sólo se pueden aplicar sobre listas).

##### <b>Creación de secuencias</b>

* **Tuplas**: Secuencia que va entre paréntesis
* **Listas**: Secuencia que va entre corchetes
* **Cadena de caracteres**: Secuencia que va entre comillas

In [1]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

In [2]:
%whos

Variable   Type     Data/Info
-----------------------------
list_1     list     n=4
str_1      str      esto es una cadena
tuple_1    tuple    n=4

#### Acceso a elementos

* Para acceder a un elemento de la secuencia es necesario poner la ubicación que queremos, teniendo en cuenta que **Python es un lenguaje que comienza a contar en 0**.

* Podemos modificar dicho elemento por otro cualquiera siempre que estemos ante una lista, nunca ante una cadena de caracteres o ante tuplas.

In [3]:
print("Definimos la lista")
list_1 = [1,2,3,4]
print(list_1)

print("--------------------------------")

print("Acceso al primer elemento de la lista")
print(list_1[0])

print("--------------------------------")

print("Modificación del primer elemento de la lista")
list_1[0] = 2
print(list_1)

Definimos la lista
[1, 2, 3, 4]
--------------------------------
Acceso al primer elemento de la lista
1
--------------------------------
Modificación del primer elemento de la lista
[2, 2, 3, 4]

In [4]:
print("Definimos la cadena")
str_1 = "esto es una cadena"
print(str_1)

print("--------------------------------")

print("Acceso al segundo elemento de la cadena")
print(str_1[1])

print("--------------------------------")

Definimos la cadena
esto es una cadena
--------------------------------
Acceso al segundo elemento de la cadena
s
--------------------------------

In [5]:
print("Definimos la tupla")
tuple_1 = (1, 2, 3, 4)
print(tuple_1)

print("--------------------------------")

print("Acceso al tercer elemento de la tupla")
print(tuple_1[2])

print("--------------------------------")

Definimos la tupla
(1, 2, 3, 4)
--------------------------------
Acceso al tercer elemento de la tupla
3
--------------------------------

* Podemos acceder a un elemento de la secuencia contando desde atrás, es decir, podemos informar de la posición que ocupa desde el final de la secuencia. En este caso, el último elemento ocuparía la posición -1.

In [6]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (tuple_1[-1])
print (list_1[-3])
print (str_1[-5])

4
2
a

###### <b>Conversión/casting entre tipos de secuencia</b>

In [7]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

tuple_2 = tuple(list_1)
list_2 = list(tuple_1)
tuple_3 = tuple(str_1)

In [8]:
print (tuple_2)
print (list_2)
print (tuple_3)

print (type(tuple_2))
print (type(list_2))
print (type(tuple_3))

(1, 2, 3, 4)
[1, 2, 3, 4]
('e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a')
<class 'tuple'>
<class 'list'>
<class 'tuple'>

###### Creación de secuencias anidadas

In [9]:
tuple_1 = (1, 2, (3, 4), [1, 2, 3])
list_1 = [1, 2, 3, [4, 5], "prueba", (1, 2, 3)]
print (tuple_1)
print (list_1)

(1, 2, (3, 4), [1, 2, 3])
[1, 2, 3, [4, 5], 'prueba', (1, 2, 3)]

###### Concatenación de secuencias

In [10]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

tuple_2 = (5, 6, 7, 8)
list_2 = [5, 6, 7, 8]
str_2 = "esto es otra cadena"

tuple_3 = tuple_1 + tuple_2
list_3 = list_1 + list_2
str_3 = str_1 + str_2

print (tuple_3)
print (list_3)
print (str_3)

(1, 2, 3, 4, 5, 6, 7, 8)
[1, 2, 3, 4, 5, 6, 7, 8]
esto es una cadenaesto es otra cadena

Para concatenar cadenas de texto con números antes hay que cambiar el tipo de dato de número a texto con el comando `str`. Recordemos que si utilizamos la función `input` el valor recibido ya es un texto.

In [11]:
numero = 2
str_numero = "Has escrito el número " + str(numero)
print(str_numero)

Has escrito el número 2

In [12]:
a = input("Escribe tu input -->")
print('Has escrito el número ' + a)

Escribe tu input -->5
Has escrito el número 5

###### Multiplicación de secuencias por enteros

In [13]:
list_1 = [1, 2, 3]
list_2 = list_1 * 2
print (list_2)

[1, 2, 3, 1, 2, 3]

In [14]:
letra = 'a'
letra_10 = letra * 10
print(letra_10)

aaaaaaaaaa

In [15]:
tuple_1 = ("hola", "mundo")
tuple_2 = tuple_1 * 2
print (tuple_2)


str_1 = "prueba"
str_2 = str_1 * 2
print (str_2)

('hola', 'mundo', 'hola', 'mundo')
pruebaprueba

##### Comprobación de si un elemento existe en la secuencia. `in`

In [16]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (4 in tuple_1)
print (5 not in tuple_1)
print (4 in list_1)
print (5 not in list_1)
print ("e" in str_1)
print ("esto" in str_1) # también pueden buscarse palabras enteras
print ("z" not in str_1)

True
True
True
True
True
True
True

##### Slicing de secuencias

<ul>
<li>Selección (mediante copia, no referencia) de un conjunto ordenado de elementos de una secuencia.</li>
<li>Se realiza mediante la notación secuencia[a:b:c]. Donde:
<ul>
<li>a: Índice del primer elemento a extrar (en base 0). Si se omite se extrae desde el principio de la secuencia.</li>
<li>b: Índice del primero elemento que NO se extrae (en base 0). Si se omite se extrae hasta el final de la secuencia.</li>
<li>c: Tamaño del salto a aplicar en la extracción. Si se omite se asume 1.
</ul>
</ul>

In [17]:
print("Lista original")
list_1 = ["uno", "dos", "tres", "cuatro"]
print("--------------")
print("a = 0. Extrae desde el primero hasta el último.")
print ("list_1[0:]")
print (list_1[0:])
print ("list_1[:]")
print (list_1[:])
print("--------------")
print("a = 2. Extrae desde el tercero hasta el último.")
print ("list_1[2:]")
print (list_1[2:])
print("--------------")
print("b = 3. Extrae desde el primero hasta el cuarto no incluido.")
print ("list_1[:3]")
print (list_1[:3])
print("--------------")
print("a = 2; b = 3. Extrae desde el tercero hasta el cuarto no incluido.")
print ("list_1[2:3]")
print (list_1[2:3])
print("--------------")
print("b = -3. Extrae desde el primero hasta el tercero por detrás no incluido.")
print("list_1[:-3]")
print(list_1[:-3])
print("--------------")
print("c = 2. Extrae desde el primero hasta el último de 2 en 2.")
print ("list_1[::2]")
print (list_1[::2])
print("--------------")
print("c = 2. Extrae desde el primero hasta el último de 1 en 1 desde atrás.")
print ("list_1[::-1]")
print (list_1[::-1])

Lista original
--------------
a = 0. Extrae desde el primero hasta el último.
list_1[0:]
['uno', 'dos', 'tres', 'cuatro']
list_1[:]
['uno', 'dos', 'tres', 'cuatro']
--------------
a = 2. Extrae desde el tercero hasta el último.
list_1[2:]
['tres', 'cuatro']
--------------
b = 3. Extrae desde el primero hasta el cuarto no incluido.
list_1[:3]
['uno', 'dos', 'tres']
--------------
a = 2; b = 3. Extrae desde el tercero hasta el cuarto no incluido.
list_1[2:3]
['tres']
--------------
b = -3. Extrae desde el primero hasta el tercero por detrás no incluido.
list_1[:-3]
['uno']
--------------
c = 2. Extrae desde el primero hasta el último de 2 en 2.
list_1[::2]
['uno', 'tres']
--------------
c = 2. Extrae desde el primero hasta el último de 1 en 1 desde atrás.
list_1[::-1]
['cuatro', 'tres', 'dos', 'uno']

In [18]:
list_2 = list_1[:3]
list_2[0] = 25
print (list_1)
print (list_2)

['uno', 'dos', 'tres', 'cuatro']
[25, 'dos', 'tres']

##### Longitud de secuencias. `len`

In [19]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print (len(tuple_1))
print (len(list_1))
print (len(str_1))

4
4
18

##### Obtención del número de repeticiones de un elemento. `count`

In [20]:
tuple_1 = (1,2,3,4,1,1,1,1,1)
print(tuple_1.count(1))

list_1 = [1,2,3,4,1,1,1,1,1]
print(list_1.count(1))

str_1 = "esto es una cadena"
print(str_1.count("e"))

6
6
3

##### Mezcla ordenada de secuencias. `zip`

In [21]:
tuple_1 = (1, 2, 3, 4, 5)
list_1 = ["uno", "dos", "tres", "cuatro", "cinco"]
tuple_list = zip(tuple_1, list_1)
list(tuple_list)

[(1, 'uno'), (2, 'dos'), (3, 'tres'), (4, 'cuatro'), (5, 'cinco')]

El resultado es un "objeto iterable", por lo que para ver la mezcla hay que convertirla a lista previamente tal y como se ha hecho en la celda anterior

##### Creación de secuencias numéricas. `range`

El comando `range` genera una lista numérica que sigue el siguiente patrón `range(a,b,c)`:
* **a**: Primer número que queremos que aparezca
* **b**: Primero número que queremos que no aparezca
* **c**: salto. En caso de omisión éste sería 1.

En caso de utilizar sólo una variable, ésta actuaría como **b**, haciendoq ue la secuencia comience en 0 y termine en dicho valor.

In [22]:
list_2 = range(5, 10)
print (list(list_2))

list_3 = range(0, 100, 2)
print (list(list_3))

[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [23]:
list_1 = range(10)
print (list(list_1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

El resultado es un objeto rango, por lo que para visualizarlo hay que utilizar la función `list` como hemos hecho anteriormente

In [24]:
list_1 = range(10)
print (list_1)
print(list(list_1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

###### Adición de elementos a una lista (por el final) - SÓLO LISTAS. `append`

Si bien es cierto que podemos añadir elementos al final de la lista con `+`, ésta no altera la lista directamente, sino que sólo lo alterraría bajo asignación; sin embargo, con el comando `append` alteramos la lista con este elemento nuevo sin necesidad de reasignarla.

In [25]:
print("Ejemplo con +")
lista_1 = ["uno","dos","tres"]
lista_2 = lista_1 + ['Tres']
print("lista_2: " + str(lista_2))
print("lista_1: " + str(lista_1))

Ejemplo con +
lista_2: ['uno', 'dos', 'tres', 'Tres']
lista_1: ['uno', 'dos', 'tres']

In [26]:
print("Ejemplo con append")
lista_1 = ["uno", "dos"]
print ("lista_1_pre: " + str(lista_1))
lista_1.append("tres")
print ("lista_1_pos: " + str(lista_1))

Ejemplo con append
lista_1_pre: ['uno', 'dos']
lista_1_pos: ['uno', 'dos', 'tres']

###### Inserción un elemento en una posición específica - SÓLO LISTAS. `insert`

In [27]:
list_1 = ["dos", "tres"]
list_1.insert(0, "uno")
print (list_1)

['uno', 'dos', 'tres']

###### Eliminación del primer elemento coincidente - SÓLO LISTAS. `remove`

In [28]:
list_1 = [1, 2, 3, [4, 5]]
list_1.remove([4, 5])
print (list_1)

[1, 2, 3]

En caso de existir 2 elementos, se elimina el primero

In [29]:
lista_1 = [1,2,1]
lista_1.remove(1)
print(lista_1)

[2, 1]

##### Eliminación de posiciones - SÓLO LISTAS. `del`

In [30]:
list_1 = [1, 2, 3, 4, 5]
del list_1[2]
print (list_1)

[1, 2, 4, 5]

##### Ordenación de elementos - SÓLO LISTAS. `sort`

In [31]:
list_1 = [1, 3, 4, 2, 5]
list_1.sort()
print (list_1)

list_1.sort(reverse=True)
print (list_1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

##### Recuperación inversa de elementos - SÓLO LISTAS. `reverse`

In [32]:
list_1 = [1, 3, 4, 2, 5]
list_1.reverse()
print (list_1)

[5, 2, 4, 3, 1]

##### Fusionar listas - SOLO LISTAS. `extend`

Podemos concatenar 2 listas usando `+`, pero esta operación necesitaría reasignación. Si queremos alterar la lista original sin reasignarla, usaremos `extend`.

In [33]:
list_1 = [1, 3, 4, 2, 5]
list_2 = [7,8]
list_1.extend(list_2)
print(list_1)
print(list_2)

[1, 3, 4, 2, 5, 7, 8]
[7, 8]

In [34]:
list_1 = [1, 3, 4, 2, 5]
list_2 = [7,8]
final_list = list_1 + list_2
print(list_1)
print(list_2)
print(final_list)

[1, 3, 4, 2, 5]
[7, 8]
[1, 3, 4, 2, 5, 7, 8]

##### Conversión a mayúsculas/minúsculas - SÓLO CADENAS. `upper`/`lower`

In [35]:
str_1 = "esto es una prueba"
print (str_1.upper())

str_2 = "ESTO ES UNA PRUEBA"
print (str_2.lower())

ESTO ES UNA PRUEBA
esto es una prueba

##### Segmentación por carácter - SÓLO CADENAS. `split`

In [36]:
str_1 = "esto es una prueba"
print (str_1.split(" "))

['esto', 'es', 'una', 'prueba']

##### Reemplazo en cadenas - SÓLO CADENAS. `replace`

In [37]:
str_1 = "esto es una prueba una"
print (str_1.replace("una", "otra"))
print (str_1.replace("una", "otra",1))

esto es otra prueba otra
esto es otra prueba una

## Diccionarios (dict)

Un diccionario es una estructura que:
<ul>
<li>Contiene un listado de pares clave-valor.</li>
<li>También se puede llamar array asociativo o <i>hash map</i>.</li>
<li>Sin orden</li>
<li>Cuyas claves son cadenas de caracteres o valores numéricos.</li>
<li>Cuyos valores son valores o secuencias (anidadas).</li>
</ul>

##### Creación de un diccionario

In [38]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
print (dict_1)

dict_2 = {10:1, 2:2}
print (dict_2)

{'clave_1': 1, 'clave_2': 'prueba'}
{10: 1, 2: 2}

##### Creación de diccionarios anidados

In [39]:
dict_1 = {"clave_1": 1, "clave_2": {"clave_21": [1, 2, 3], "clave_22": "prueba"}}
print (dict_1)

{'clave_1': 1, 'clave_2': {'clave_21': [1, 2, 3], 'clave_22': 'prueba'}}

##### Creación de diccionarios desde tuplas clave-valor

In [40]:
list_1 = ["uno", "dos", "tres", "cuatro", "cinco"]
tuple_1 = (1, 2, 3, 4, 5)

dict_1 = dict(zip(list_1, tuple_1))
print (dict_1)

{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4, 'cinco': 5}

##### Unión de dos diccionarios

In [41]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_2 = {"clave_3": 3, "clave_4": 4}
dict_1.update(dict_2)
print (dict_1)

{'clave_1': 1, 'clave_2': 2, 'clave_3': 3, 'clave_4': 4}

##### Inserción (o modificación) de un elemento del diccionario por clave

In [42]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_1["clave_3"] = "prueba"
dict_1["clave_1"] = 50
print (dict_1)

{'clave_1': 50, 'clave_2': 2, 'clave_3': 'prueba'}

##### Comprobación de si un elemento existe en el diccionario. `in`

In [43]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
print ("clave_1" in dict_1)
print (1 in dict_1)

True
False

##### Eliminación de un elemento de un diccionario. `del`

In [44]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
del dict_1["clave_1"]
print (dict_1)

{'clave_2': 'prueba'}

##### Eliminación de todos los elementos de un diccionario. `clear`

In [45]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
dict_1.clear()
print (dict_1)

{}

##### Acceso a un elemento por clave

In [46]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
print (dict_1["clave_1"])

1

##### Recuperación de elementos como una lista. `.items()`

In [47]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print (list(dict_1.items()))

[('clave_1', 1), ('clave_2', 2), ('clave_3', 3)]

##### Recuperación de claves como una lista `.keys()`

In [48]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print (list(dict_1.keys()))

['clave_1', 'clave_2', 'clave_3']

##### Recuperación de valores como una lista

In [49]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print (list(dict_1.values()))

[1, 2, 3]

## Conjuntos (set)

Un conjunto es una secuencia:
<ul>
<li>Unidimensional (de un único nivel)</li>
<li>Mutable</li>
<li>De tamaño variable (al ser mutable es obvio)</li>
<li>Desordenada</li>
<li>Cuyos elementos son valores o secuencias</li>
<li>Cuyos elementos son únicos (no hay elementos repetidos)</li>
</ul>

##### Cración de un conjunto

In [50]:
set_1 = {1, 2, 3, 4, 5}
print (set_1)

{1, 2, 3, 4, 5}

##### Conversión/casting a conjunto

In [51]:
list_1 = [1, 2, 3, 4, 5]
set_1 = set(list_1)
print (type(set_1))

<class 'set'>

##### Unión de conjuntos

In [52]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 | set_2)

{1, 2, 3, 4, 5, 6, 7}

##### Intersección de conjuntos

In [53]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 & set_2)

{3, 4, 5}

##### Diferencia de conjuntos

In [54]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 - set_2)
print (set_2 - set_1)

{1, 2}
{6, 7}

##### Diferencia simétrica de conjuntos - (Unión - Intersección)

In [55]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}
print (set_1 ^ set_2)
print( set_2 ^ set_1)

{1, 2, 6, 7}
{1, 2, 6, 7}

##### Inserción de elementos en un conjunto

In [56]:
set_1 = {1, 2, 3, 4, 5}
set_1.add(6)
print (set_1)

{1, 2, 3, 4, 5, 6}

##### Comprobación de existencia de un elemento en el conjunto

In [57]:
set_1 = {1, 2, 3, 4, 5}
3 in set_1

True

##### Comprobación de subconjunto

In [58]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set_1 >= set_2

True

##### Comprobación de superconjunto

In [59]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set_2 <= set_1

True

##### Eliminación de un elemento de un conjunto por valor

In [60]:
set_1 = {1, 2, 3, 4, 5}
set_1.remove(5)

set_1.discard(6) #Elimina elemento (si no existe en el conjunto no pasa nada)
print (set_1)

{1, 2, 3, 4}

##### Eliminación de todos los elementos de un conjunto

In [61]:
set_1 = {1, 2, 3, 4, 5}
set_1.clear()
print (set_1)

set()