---
<font size="6">Tratamiento de fechas</font>

Es imprescindible, en cualquier lenguaje de programación, aprender a cómo utilizar las fechas tal y como queremos. \
Para ello, en este módulo aprenderemos a utilizar el paquete de funciones incorporadas en **`datetime`**.

---

# **Objetos en `datetime`**
Dispondremos de muchos objetos en los cuales se hará hincapié en las clases de fechas siguientes:
* **date**: Objeto de fecha
* **time**: Objeto de tiempo
* **datetime**: Objeto que engloba a ambas
* **timedelta**: Objeto operador de fechas

Empecemos importando el paquete y viendo sus atributos.

In [1]:
import datetime
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

Como se peude observar, vemos las clases `date`, `datetime`, `time` y `timedelta`, las cuales veremos más en detalle a continuación.

## **`.date`**
Con esta clase podemos crear objetos tipo `date` el cual representa una fecha de tipo (año, mes y día). Además, como atributo más interesante, está el poder extraer el día de hoy con el método `.today()`.

In [2]:
# --
# Atributos de datetime.date
# --
dir(datetime.date)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'ctime',
 'day',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'min',
 'month',
 'replace',
 'resolution',
 'strftime',
 'timetuple',
 'today',
 'toordinal',
 'weekday',
 'year']

In [3]:
# --
# A partir de aquí, trabajemos únicamente importando todo el paquete date
# para evitar poner "datetime."
# --
from datetime import date

### **Crear fechas**
Para crear fechas, necesitamos los siguientes argumentos:
* **Year**
* **Month**
* **Day**

In [4]:
# --
# Creamos una fecha
# --
ejemplo_d_1 = datetime.date(year = 2019, month = 4, day = 13)
print('Usando datetime.date: ' + str(ejemplo_d_1))

# --
# Equivalente a usar únicamente date
# --
ejemplo_d_2 = date(2019, 4, 13)
print('Usando date: ' + str(ejemplo_d_2))

Usando datetime.date: 2019-04-13
Usando date: 2019-04-13

#### `.today()`
Veamos cómo extraer el día actual

In [5]:
# --
# Equivalente a usar directamente date.today()
# --
hoy = date.today()
print('Fechas de hoy: ' + str(hoy))

Fechas de hoy: 2024-02-29

### **Métodos asociados**
Los métodos asociados más usuales a este objeto son:
* **`.year`**
* **`.month`**
* **`.day`**

In [6]:
# --
# Veamos el año, mes y día actual
# --
hoy = date.today()

print("Año actual:", hoy.year)
print("Mes actual:", hoy.month)
print("Día actual:", hoy.day)

Año actual: 2024
Mes actual: 2
Día actual: 29

Adicionalmente, peude llegar a resultar interesante el método `fromtimestamp`que convierte un número en formato $\text{timestamp}^1$ a fecha.

<font size = 2> 1.- El $\text{timestamp}$ es el número de segundos que han transucrrido entre el 1 de enero de 1970 y la fecha que se desee.

In [7]:
# --
# Veámos a qué fecha hace referencia este número
# --
timestamp = date.fromtimestamp(1326244364)
print("Fecha =", timestamp)

Fecha = 2012-01-11

## **`.time`**
Con esta clase podemos crear objetos tipo `time` el cual representa una hora de tipo (hora, minuto, segundo y microsegundo). Además, como atributo más interesante, está el poder extraer la hora actual con el método `.now()`.

In [8]:
# --
# Atributos de datetime.time
# --
dir(datetime.time)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'dst',
 'fold',
 'fromisoformat',
 'hour',
 'isoformat',
 'max',
 'microsecond',
 'min',
 'minute',
 'replace',
 'resolution',
 'second',
 'strftime',
 'tzinfo',
 'tzname',
 'utcoffset']

In [9]:
# --
# A partir de aquí, trabajemos únicamente importando todo el paquete time
# para evitar poner "datetime."
# --
from datetime import time

### **Crear horas**
Para crear horas, necesitamos los siguientes argumentos:
* **Hour**
* **Minute**
* **Second**
* **Microsecond**: Opcional

In [10]:
# --
# Creamos una hora
# --
ejemplo_h_1 = datetime.time(hour = 11, minute = 34, second = 13)
print('Usando datetime.time: ' + str(ejemplo_h_1))

# --
# Equivalente a usar únicamente date
# --
ejemplo_h_2 = time(11, 34, 13)
print('Usando date: ' + str(ejemplo_h_2))

# --
# Usando la variable opcional "microsecond"
# --
ejemplo_h_3 = time(11, 34, 56, 234566)
print("Usando microsegundos:", ejemplo_h_3)

Usando datetime.time: 11:34:13
Usando date: 11:34:13
Usando microsegundos: 11:34:56.234566

### **Métodos asociados**
Los métodos asociados más usuales a este objeto son:
* **`.hour`**
* **`.minute`**
* **`.second`**
* **`.microsecond`**

In [11]:
# --
# Veamos la hora, el minuto, el segundo y el microsegundo de la variable "mi_hora"
# --
mi_hora = time(11, 34, 56)

print("Hora:", mi_hora.hour)
print("Minuto:", mi_hora.minute)
print("Segundo:", mi_hora.second)
print("Microsegundo:", mi_hora.microsecond)

Hora: 11
Minuto: 34
Segundo: 56
Microsegundo: 0

## **`.datetime`**
Con esta clase podemos crear objetos tipo `datetime` el cual engloba a las dos categorías anteriores, teniendo objetos del tipo (año, mes, día, hora, minuto, segundo y microsegundo). Además, como atributo más interesante, está el poder extraer la fecha o hora actual con el método `.today()`y `.now()`.

In [12]:
import datetime
# --
# Atributos de datetime.time
# --
dir(datetime.datetime)

['__add__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 'astimezone',
 'combine',
 'ctime',
 'date',
 'day',
 'dst',
 'fold',
 'fromisocalendar',
 'fromisoformat',
 'fromordinal',
 'fromtimestamp',
 'hour',
 'isocalendar',
 'isoformat',
 'isoweekday',
 'max',
 'microsecond',
 'min',
 'minute',
 'month',
 'now',
 'replace',
 'resolution',
 'second',
 'strftime',
 'strptime',
 'time',
 'timestamp',
 'timetuple',
 'timetz',
 'today',
 'toordinal',
 'tzinfo',
 'tzname',
 'utcfromtimestamp',
 'utcnow',
 'utcoffset',
 'utctimetuple',
 'weekday',
 'year']

In [13]:
# --
# A partir de aquí, trabajemos únicamente importando todo el paquete datetime
# para evitar poner "datetime."
# --
from datetime import datetime

### **Crear objetos datetime**
Para crear este tipo de objetos, necesitamos los siguientes argumentos:
* **Year**
* **Month**
* **Day**
* **Hour**: Opcional. Defecto: Hour = 0
* **Minute**: Opcional. Defecto: Minute = 0
* **Second**: Opcional. Defecto: Second = 0
* **Microsecond**: Opcional. Defecto: Microsecond = 0

In [14]:
# --
# Creamos una fecha
# --
mi_fecha_1 = datetime(2018, 11, 28)
print("Fecha utilizando datetime: " + str(mi_fecha_1))

# --
# Creamos una fecha con hora
# --
mi_fecha_2 = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("Fecha y hora utilizando datetime: " + str(mi_fecha_2))

Fecha utilizando datetime: 2018-11-28 00:00:00
Fecha y hora utilizando datetime: 2017-11-28 23:55:59.342380

#### `.today()` o `.now()`
Veamos cómo extraer el día y hora actual usando datetime.

In [15]:
# --
# Extraemos la fecha actual usando .today()
# --
hoy = datetime.today()
print('Fecha de hoy: ' + str(hoy))

# --
# Extraemos la fecha actual usando .now()
# --
ahora = datetime.now()
print('Hora actual: ' + str(ahora))

Fecha de hoy: 2024-02-29 17:43:51.150073
Hora actual: 2024-02-29 17:43:51.151226

### **Métodos asociados**
Los métodos asociados más usuales a este objeto son:
* **`.year`**
* **`.month`**
* **`.day`**
* **`.hour`**
* **`.minute`**
* **`.second`**
* **`.microsecond`**
* **`.timestamp`**

In [16]:
# --
# Veamos el año, mes, hora, minuto y timestamp de una fecha"
# --
fecha = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", fecha.year)
print("month =", fecha.month)
print("hour =", fecha.hour)
print("minute =", fecha.minute)
print("timestamp =", fecha.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511913359.34238

## **`.timedelta`**
Con esta clase podemos crear objetos tipo `timedelta` representa la diferencia entre dos fechas u horas.

In [17]:
from datetime import timedelta
dir(timedelta)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'days',
 'max',
 'microseconds',
 'min',
 'resolution',
 'seconds',
 'total_seconds']

### **Crear objetos timedelta**
Para crear este tipo de objetos, necesitamos los siguientes argumentos:
* **Weeks**: Opcional. Defecto: Weeks = 0
* **Days**: Opcional. Defecto: Day = 0
* **Hours**: Opcional. Defecto: Hour = 0
* **Minutes**: Opcional. Defecto: Minute = 0
* **Seconds**: Opcional. Defecto: Second = 0
* **Microseconds**: Opcional. Defecto: Microsecond = 0
* **Miliseconds**: Opcional. Defecto: Microsecond = 0

In [18]:
# --
# Creamos un par de objetos timedelta y los restamos
# --
t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("Diferencia =", t3)

Diferencia = 14 days, 13:55:39

Para crear un objeto `timedelta` no hace falta inicalizarlo, pues basta con hacer una operación de resta como la siguiente.

In [19]:
# --
# Ejemplo de resta de fechas tipo date
# --
t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("Tipo de t3 =", type(t3))
print("Tipo de t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
Tipo de t3 = <class 'datetime.timedelta'>
Tipo de t6 = <class 'datetime.timedelta'>

### Dias y segundos
Para calcular el número de días o número de segundos transcurridos entre dos fechas, usamos el método `.days` o `.total_seconds`

In [20]:
# --
# Si queremos saber el número de días en una variable timedelta
# --
t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print('Días en t:', t.days)

# --
# Si queremos saber el número de segundos en una variable timedelta
# --
t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("Segundos en t =", t.total_seconds())

Días en t: 5
Segundos en t = 435633.233423

# **Formatos asociados**
La manera en la que la fecha y la hora es representada puede ser diferente dependiendo del lugar donde tomamos el dato. \
Para ello, usaremos los métodos `.strftime()` y `.strptime` para poder tratar este problema.

## **Cambiar el formato de un datetime**
Una vez que ya tenemos un objeto datetime, para mostrarlo por pantalla en diferentes formatos utilizaremos el comando `.strftime`.

El input puede ser cualquiera de la lista que aparece en la documentación de este [link](https://www.programiz.com/python-programming/datetime/strftime)

In [21]:
# --
# Veamos diferentes formas de expresar la fecha y hora actual
# --
ahora = datetime.now()

# --
# Únicamente la hora
# --
t = ahora.strftime("%H:%M:%S")
print("Hora actual:", t)

# --
# Fecha en formato dd/mm/YY
# --
s1 = ahora.strftime("%d/%m/%Y")
print("Fecha_1:", s1)

# --
# Fecha en formato mm-dd-YY
# --
s1 = ahora.strftime("%m-%d-%Y")
print("Fecha_2:", s1)

Hora actual: 17:43:51
Fecha_1: 29/02/2024
Fecha_2: 02-29-2024

## **Pasar de string a datetime**
Desde casi cualquier formato conocido, se puede pasar a formato datetime con el comando `.strptime`.

In [22]:
# --
# Veamos un ejemplo complicado
# --
fecha_string = "21 jun, 2018" #<-- meses en inglés
print("Fecha en string =", fecha_string)

fecha_datetime = datetime.strptime(fecha_string, "%d %b, %Y")
print("Objeto datetime =", fecha_datetime)

Fecha en string = 21 jun, 2018
Objeto datetime = 2018-06-21 00:00:00

## **Zonas horarias**
También podemos trabajar con diferentes zonas horarias. Para ello, usaremos el paquete `pytz` que tiene incorporado los siguientes usos horarios:

In [23]:
import pytz
pytz.all_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Ciudad_Juarez', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Kyiv', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kanton', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [24]:
# --
# Ejemplos de cómo usarlo
# --

# --
# Fecha actual local
# --
local = datetime.now()
print("Local:", local.strftime("%d/%m/%Y, %H:%M:%S"))

# --
# Fecha actual para America/New_York
# --
tz_NY = pytz.timezone('America/New_York')
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%d/%m/%Y, %H:%M:%S"))

# --
# Fecha actual para Europe/London
# --
tz_Madrid = pytz.timezone('Europe/Madrid')
datetime_Madrid = datetime.now(tz_Madrid)
print("Madrid:", datetime_Madrid.strftime("%d/%m/%Y, %H:%M:%S"))

Local: 29/02/2024, 17:43:51
NY: 29/02/2024, 12:43:51
Madrid: 29/02/2024, 18:43:51